<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
sudo cp -a /vagrant/hello/ /var/www/html/api_test/hello/
sudo cp /vagrant/Dockerfile $WORKSPACE/Dockerfile</command>
      <unstableReturn>2</unstableReturn>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.40">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.CreateImageCommand">
        <dockerFolder>$WORKSPACE</dockerFolder>
        <imageTag>hello-api</imageTag>
        <dockerFile>Dockerfile</dockerFile>
        <noCache>true</noCache>
        <rm>true</rm>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.40">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.TagImageCommand">
        <image>hello-api</image>
        <repository>mpereverov/hello-api</repository>
        <tag>latest</tag>
        <ignoreIfNotFound>false</ignoreIfNotFound>
        <withForce>false</withForce>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@1.40">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.PushImageCommand">
        <dockerRegistryEndpoint plugin="docker-commons@1.6">
          <url>https://hub.docker.com</url>
          <credentialsId>508bb073-f93b-4ec1-80ab-f3c823efe8df</credentialsId>
        </dockerRegistryEndpoint>
        <image>mpereverov/hello-api</image>
        <tag>latest</tag>
        <registry></registry>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>